section, aside {
  display: inline-block;
}

header {
  font-size: 65px;

}

section {
  width: 170px,
  images: 200px;
}


article {
  width: 500px;
  border: 2px solid black line;
}

aside img {
  display: inline-block;
}
section img {
  width: 200px;

}

.drug {
  width: 1000px;
  height: 1000px;
  border-color: red;

}

.drug, .etsy {
  display: inline-block;
}
